html{
    background-color: lightcoral;
}

body, .pizzaInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding : 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pizzaInfo{
    background-color: lightsalmon;
    border: 5px dotted red;
}

#pizzaSize, #pizzaCheese, #pizzaCrust, #pizzaTopping{
    margin-bottom: 20px;
    border: 2px solid black;
}

#pizzaTopping label{
    padding-right: 20px;
}